{% extends 'index_master.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="right_col" role="main">
    <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">Agregar Marca</h1>
    
    <form method="post" class="space-y-6 max-w-2xl mx-auto bg-white p-8 shadow-md rounded-lg mt-10 border border-gray-200">
        {% csrf_token %}
        
        <!-- Campo de nombre -->
        <div>
            <label for="nombre" class="block text-sm font-medium text-gray-600">Nombre de la Marca</label>
            {{ form.nombre|add_class:"mt-1 block w-full p-3 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" }}
        </div>

        <!-- Botón de envío -->
        <div class="flex justify-center mt-6">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>
{% endblock %}
