<!-- alertas.html -->
{% extends 'index_master.html' %}

{% block content %}

<div class="right_col" role="main">   
    <div class="container mt-4">
        <h2>Todas las Notificaciones</h2>
        <ul class="list-group">
            {% for notificacion in notificaciones %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge {% if notificacion.tipo == 'urgente' %}bg-danger{% else %}bg-warning{% endif %}">
                        {{ notificacion.tipo|title }}
                    </span>
                    <span class="message">{{ notificacion.mensaje }}</span>
                </li>
            {% empty %}
                <li class="list-group-item text-center">No hay notificaciones</li>
            {% endfor %}
        </ul>
    </div>
</div>    
{% endblock %}
