<!-- templates/crud_ventas/listar.html -->
{% extends 'index_master.html' %}

{% block content %}

<div class="right_col" role="main">

    <h1>Reporte de pagos de productos a credito</h1>

    <button type="button" class="btn btn-info">Agregar</button>

    <button type="button" class="btn btn-outline-success">agregar</button>

    <button type="button" class="btn btn-lg btn-primary" disabled>Primary button</button>

    <button type="button" class="btn btn-outline-info">Agregar</button>

    

    
    

</div>

<!-- Aquí va el contenido específico de la vista "listar" -->
{% endblock %}