<!-- templates/crud_ventas/listar.html -->
{% extends 'index_master.html' %}

{% block content %}

<div class="right_col" role="main">

    <h1>Reporte de pagos de productos a credito</h1>

    <button type="button" class="btn btn-success">
        <i class="fa-solid fa-file-arrow-down"></i> Comprobante
    </button>

    <button type="button" class="btn btn-success">
        <i class="fa-solid fa-file-arrow-down me-2"></i> Comprobante
    </button>
    
    

</div>

<!-- Aquí va el contenido específico de la vista "listar" -->
{% endblock %}